{% extends "KeyLuxury/base.html" %}

{% block subtitulo %}Welcome{% endblock subtitulo %}


{% block contenido %}
<center>
<h1>¡HELLO! WE ARE KEYLUXURY<h1>
</center>
<br>
<br>
<br>
<h3>
We take everyday boring items and – with a bit of magic and extreme imagination – turn them into lifestyle & fashion accessories you’ll be psyched to wear.
<br>
<br>
<br>
We add a pinch of sunshine to a cloudy day. Paint a sunflower on a winter canvas. Extract the purest feeling of freedom and combine it with a fierce desire for perfection.
<br>
<br>
<br>
In other words, we go the extra mile to make you look & feel absolutely out of this world!
<br>
<br>
<br>
Dive into the world of KEYLUXURY — a world of fashion, chique, and jaw-dropping aesthetics. Whatever your destination, we’ll help you get there in style.    
</h3>
<br>
<br>
<center>
<img src= "https://i.pinimg.com/736x/49/77/ff/4977ffc8691783727604db96029bbf9f.jpg"
</center>
<br>
<br>
<br>
<a href="{% url 'Categories' %}">See Categories</a>
<br>
<br>
<a href="{% url 'Products' %}">See Products</a>
{% endblock contenido %}